*
{
    margin: 0;
    font-family: Tahoma;
    color: white;
}
body
{
    background-color: #a4f;
}
#homehead
{
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    opacity: 0%;
    transition-duration: 0.5s;
}
.brace
{
    height: 100px;
}
p
{
    font-size: 30px;
    margin-left: 200px; 
    margin-right: 200px;
}
#imghome
{
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    width: 200px;
    transform: rotate(-20deg);
    transition-duration: 0.5s;
}